.contact {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    margin-top: 5rem;
    &__logo {
        color: #2C7566;
        &:hover {
            color: var(--neutral-white);
        }
    }
}