.nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    width: calc(100% - 3.4em);
    position: relative;

    &__logo {
        width: unset;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__menu {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2.8em;
        width: 100%;
        top: 7em;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--neutral-white);
        padding: 2.8em 0;

        &--clicked {
            display: flex;
        }

        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 1.7em solid var(--neutral-white);
            border-left: 1.7em solid transparent;
            border-right: 0 solid transparent;
            border-top: 0 solid transparent;
            top: -1.7em;
            right: 0;
        }
    }

    &__link {
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 1.2em;
        color: var(--neutral-dark-grayish-blue);

        &:last-of-type {
            text-transform: uppercase;
            font-size: 1em;
            font-family: 'Fraunces', serif;
            color: var(--neutral-very-dark-desaturated-blue);
            background-color: var(--primary-yellow);
            padding: 1.2em 1.6em;
            border-radius: 2em;
        }
    }


}